![pandas](img/pandas_logo.png)

*Pandas* is Python’s most widely used library for data analysis, and contains functions for accessing, aggregating, joining, and analyzing data
+ Its data structure, the DataFrame, is analogous to SQL tables or Excel worksheets

#### Series are Pandas data structures built on top of NumPy arrays
> Series also contain an index and an optional name, in addition to the array of data
They can be created from other data types, but are usually imported from external sources
Two or more Series grouped together form a Pandas DataFrame

### Series Basics

In [34]:
import numpy as np
import pandas as pd

In [35]:
sales = [5, 23, 89, 45, 61]
sales_series = pd.Series(sales, name='Sales')
sales_series

0     5
1    23
2    89
3    45
4    61
Name: Sales, dtype: int64

Pandas Series have these key properties:
- values – the data array in the Series
- index – the index array in the Series
- name – the optional name for the Series (useful for accessing columns in a DataFrame)
- dtype – the data type of the elements in the values array

In [36]:
print(sales_series.index)
print(sales_series.values)
print(sales_series.name)
print(sales_series.dtype)

RangeIndex(start=0, stop=5, step=1)
[ 5 23 89 45 61]
Sales
int64

##### Pandas data types mostly expand on their base Python and NumPy equivalents
![pandas data types](img/pandas_data_types.png)

- You can convert the data type in a Pandas Series by using the .astype() method and specifying the desired data type (if compatible)

In [37]:
sales_series.dtype

dtype('int64')

In [38]:
sales_series.astype('float64')

0     5.0
1    23.0
2    89.0
3    45.0
4    61.0
Name: Sales, dtype: float64

In [6]:
sales_series.astype('bool')

0    True
1    True
2    True
3    True
4    True
Name: Sales, dtype: bool

In [39]:
sales_series.astype('datetime64')

ValueError: The 'datetime64' dtype has no unit. Please pass in 'datetime64[ns]' instead.

### Series Indexing

- The index lets you easily access “rows” in a Pandas Series or DataFrame

In [8]:
sales_series[2]

89

In [9]:
sales_series[2:4]

2    89
3    45
Name: Sales, dtype: int64

- There are cases where it’s applicable to use a *custom index* for accessing rows

In [101]:
weekday = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri']
sales_series = pd.Series(sales, index=weekday, name='Sales')
sales_series

Mon     5
Tue    23
Wed    89
Thu    45
Fri    61
Name: Sales, dtype: int64

In [11]:
sales_series

Mon     5
Tue    23
Wed    89
Thu    45
Fri    61
Name: Sales, dtype: int64

In [12]:
sales_series['Wed']

89

In [13]:
sales_series['Tue':'Thu']

Tue    23
Wed    89
Thu    45
Name: Sales, dtype: int64

The **.iloc[]** method is the preferred way to access values by their positional index 
- This method works even when Series have a custom, non-integer index
- It is more efficient than slicing and is recommended by Pandas’ creators<br>

![indexing](img/series_indexing.png)

In [40]:
sales_series[2]

89

In [14]:
sales_series.iloc[2]

89

In [15]:
sales_series.iloc[1:4]

Tue    23
Wed    89
Thu    45
Name: Sales, dtype: int64

- The .loc[] method is the preferred way to access values by their custom labels<br>

![.loc indexing](img/series_loc.png)

In [47]:
sales_series.loc['Tue']

23

In [49]:
sales_series.iloc[2]

89

In [17]:
sales_series.loc['Wed':'Fri']

Wed    89
Thu    45
Fri    61
Name: Sales, dtype: int64

##### Duplicate Index Value
It is possible to have duplicate index values in a Pandas Series or DataFrame 
- Accessing these indices by their label using .loc[] returns all corresponding rows

In [102]:
sales = [5, 23, 89, 45, 61]
items = ['Pencil', 'Pen', 'Eraser', 'Notebook', 'Pen']

sales_series = pd.Series(sales, index=items, name='Sales')
sales_series

Pencil       5
Pen         23
Eraser      89
Notebook    45
Pen         61
Name: Sales, dtype: int64

In [19]:
sales_series.loc['Pen']

Pen    23
Pen    61
Name: Sales, dtype: int64

You can **reset the index** in a Pandas Series or DataFrame back to the default range of integers by using the .reset_index() method
- By default, the existing index will become a new column in a DataFrame

In [59]:
sales_series = sales_series.reset_index()
sales_series

      index  Sales
0    Pencil      5
1       Pen     23
2    Eraser     89
3  Notebook     45
4       Pen     61

In [61]:
type(sales_series)

pandas.core.frame.DataFrame

In [60]:
sales_series.loc['Pen']

KeyError: 'Pen'

In [21]:
sales_series.reset_index(drop=True)

0     5
1    23
2    89
3    45
4    61
Name: Sales, dtype: int64

In [74]:
# Task - 1
# find out the first and last 5 days average oil price
# find out only January, 2017 average oil price

oil_consumption = pd.read_csv('data/retail/oil.csv', index_col='date', parse_dates=True)
oil_consumption

            dcoilwtico
date
2013-01-01         NaN
2013-01-02       93.14
2013-01-03       92.97
2013-01-04       93.12
2013-01-07       93.20
...                ...
2017-08-25       47.65
2017-08-28       46.40
2017-08-29       46.46
2017-08-30       45.96
2017-08-31       47.26

[1218 rows x 1 columns]

In [76]:
price = oil_consumption['dcoilwtico']
price

date
2013-01-01      NaN
2013-01-02    93.14
2013-01-03    92.97
2013-01-04    93.12
2013-01-07    93.20
              ...
2017-08-25    47.65
2017-08-28    46.40
2017-08-29    46.46
2017-08-30    45.96
2017-08-31    47.26
Name: dcoilwtico, Length: 1218, dtype: float64

In [77]:
type(price)

pandas.core.series.Series

In [92]:
print(price.iloc[1:6])
print(price.iloc[-5:])

date
2013-01-02    93.14
2013-01-03    92.97
2013-01-04    93.12
2013-01-07    93.20
2013-01-08    93.21
Name: dcoilwtico, dtype: float64
date
2017-08-25    47.65
2017-08-28    46.40
2017-08-29    46.46
2017-08-30    45.96
2017-08-31    47.26
Name: dcoilwtico, dtype: float64

In [91]:
print(price.iloc[1:6].mean())
print(price.iloc[-5:].mean())

93.128
46.745999999999995

In [99]:
price.loc['2017-01'].mean()

52.504

### Series Filtering

- You can filter a Series by passing a logical test into the .loc[] accessor (like arrays!)

In [103]:
sales_series

Pencil       5
Pen         23
Eraser      89
Notebook    45
Pen         61
Name: Sales, dtype: int64

In [104]:
sales_series.index

Index(['Pencil', 'Pen', 'Eraser', 'Notebook', 'Pen'], dtype='object')

In [28]:
sales_series.loc[sales_series > 30 ]

Eraser      89
Notebook    45
Pen         61
Name: Sales, dtype: int64

In [107]:
# return me the pen item whose sale quantity greater than 30
mask = (sales_series > 30) & (sales_series.index == 'Pen')
sales_series[mask]

Pen    61
Name: Sales, dtype: int64

- You can use these operators & methods to create Boolean filters for logical tests <br><br>
![logical operation](img/logical_operator.png)

In [109]:
# python operator
sales_series == 5

# pandas operator
sales_series.eq(5)

Pencil       True
Pen         False
Eraser      False
Notebook    False
Pen         False
Name: Sales, dtype: bool

In [35]:
sales_series.index.isin(['Pen', 'Eraser'])

array([False,  True,  True, False,  True])

In [110]:
sales_series[~sales_series.index.isin(['Pen', 'Eraser'])]

Pencil       5
Notebook    45
Name: Sales, dtype: int64

### Sorting series

- You can sort Series by their values or their index

1. The .sort_values() method sorts a Series by its values in ascending order

In [37]:
sales_series.sort_values()

Pencil       5
Pen         23
Notebook    45
Pen         61
Eraser      89
Name: Sales, dtype: int64

In [38]:
sales_series.sort_values(ascending=False)

Eraser      89
Pen         61
Notebook    45
Pen         23
Pencil       5
Name: Sales, dtype: int64

2. The .sort_index() method sorts a Series by its index in ascending order

In [40]:
sales_series.sort_index()

Eraser      89
Notebook    45
Pen         23
Pen         61
Pencil       5
Name: Sales, dtype: int64

In [41]:
sales_series.sort_index(ascending=False)

Pencil       5
Pen         23
Pen         61
Notebook    45
Eraser      89
Name: Sales, dtype: int64

Task
- First, can you get me the 10 lowest prices from the data, sorted by date, starting with the most recent and ending with the oldest?
- After that, return to the original data. I’ve provided a list of dates I want to narrow down to, and I also want to look only at prices less than or equal to 50 dollars per barrel.

In [114]:
# oil_consumption.sort_values(by='dcoilwtico')[:10].sort_index(ascending=False)
price.sort_values()[:10].sort_index(ascending=False)

date
2016-02-16    29.05
2016-02-12    29.32
2016-02-11    26.19
2016-02-10    27.54
2016-02-09    27.96
2016-01-26    29.54
2016-01-21    29.55
2016-01-20    26.68
2016-01-19    28.47
2016-01-15    29.45
Name: dcoilwtico, dtype: float64

In [138]:
given_dates = ['2016-03-13', '2016-05-14', '2016-08-17', '2017-03-12', '2011-03-17']
mask = (price.loc[['2016-01-04', '2016-05-12', '2017-03-07']] <= 50)
mask

date
2016-01-04     True
2016-05-12     True
2017-03-07    False
Name: dcoilwtico, dtype: bool

- You can use these operators & methods to perform numeric operations on Series<br><br>
![arithmetic operator](img/numerical_operators.png)

In [48]:
sales_series

Pencil       5
Pen         23
Eraser      89
Notebook    45
Pen         61
Name: Sales, dtype: int64

In [49]:
sales_series + 2

Pencil       7
Pen         25
Eraser      91
Notebook    47
Pen         63
Name: Sales, dtype: int64

In [50]:
sales_series.add(2)

Pencil       7
Pen         25
Eraser      91
Notebook    47
Pen         63
Name: Sales, dtype: int64

In [140]:
"$" + sales_series.astype('float64').astype('str')

Pencil       $5.0
Pen         $23.0
Eraser      $89.0
Notebook    $45.0
Pen         $61.0
Name: Sales, dtype: object

- The Pandas str accessor lets you access many string methods<br><br>
![string methods](img/string_methods.png)

In [142]:
sales_series_update = "$" + sales_series.astype('float64').astype('str')
sales_series_update

Pencil       $5.0
Pen         $23.0
Eraser      $89.0
Notebook    $45.0
Pen         $61.0
Name: Sales, dtype: object

In [143]:
sales_series_update.str.contains('8')

Pencil      False
Pen         False
Eraser       True
Notebook    False
Pen         False
Name: Sales, dtype: bool

In [148]:
sales_series_update.str.replace('$', '').astype(float).astype(int)

/var/folders/56/qgvq4qx56_n4x23vfb57rcfr0000gn/T/ipykernel_3796/3917956353.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  sales_series_update.str.replace('$', '').astype(float).astype(int)

Pencil       5
Pen         23
Eraser      89
Notebook    45
Pen         61
Name: Sales, dtype: int64

![numerical operator](img/92.png)

In [66]:
sales_series

Pencil       5
Pen         23
Eraser      89
Notebook    45
Pen         61
Name: Sales, dtype: int64

In [64]:
sales_series.sum()

223

In [65]:
sales_series.loc["Pen"].sum()

84

![categorical aggregation](img/93.png)

In [68]:
sales_series

Pencil       5
Pen         23
Eraser      89
Notebook    45
Pen         61
Name: Sales, dtype: int64

In [73]:
sales_series_update = sales_series.reset_index()
sales_series_update

      index  Sales
0    Pencil      5
1       Pen     23
2    Eraser     89
3  Notebook     45
4       Pen     61

In [74]:
sales_series_update['index'].value_counts()

Pen         2
Pencil      1
Eraser      1
Notebook    1
Name: index, dtype: int64

In [75]:
sales_series_update['index'].unique()

array(['Pencil', 'Pen', 'Eraser', 'Notebook'], dtype=object)

In [76]:
sales_series_update.value_counts(normalize=True)

index     Sales
Eraser    89       0.2
Notebook  45       0.2
Pen       23       0.2
          61       0.2
Pencil    5        0.2
dtype: float64

In [78]:
sales_series_update['index'].value_counts(normalize=True)

Pen         0.4
Pencil      0.2
Eraser      0.2
Notebook    0.2
Name: index, dtype: float64

## Missing Data

![missing data](img/96.png)

![missing data 2](img/97.png)

![missing data 2](img/98.png)

![missing data 2](img/99.png)

![missing data 2](img/100.png)

Task # oil prices series <br><br>
- I noticed that two prices (51.44, 47.83), were incorrect, so I had them filled in with missing values. I’m not sure if I did this correctly. Can you confirm the number of missing values in the price column? 
- Once you’ve done that, fill the prices in with the median of the oil price series.

In [16]:
import pandas as pd
oil_series = pd.read_csv('data/retail/oil.csv', index_col='date', parse_dates=True)
oil_series = oil_series['dcoilwtico']
oil_series

date
2013-01-01      NaN
2013-01-02    93.14
2013-01-03    92.97
2013-01-04    93.12
2013-01-07    93.20
              ...
2017-08-25    47.65
2017-08-28    46.40
2017-08-29    46.46
2017-08-30    45.96
2017-08-31    47.26
Name: dcoilwtico, Length: 1218, dtype: float64

In [17]:
oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), pd.NA)
oil_series.isna().sum()

45

In [18]:
oil_series = oil_series.fillna(oil_series.median())
oil_series.isna().sum()

0

![](img/103.png)

![](img/104.png)

![](img/105.png)

![](img/106.png)

![](img/107.png)

![](img/108.png)

Task <br>
- Write a function that outputs ‘buy’ if price is less than the 90th percentile and ‘wait’ if it’s not. Apply it to the oil series.
- Then, I need to fix two final prices. Create a series that multiplies price by .55 if the date is ‘2016-12-23’ or ‘2017-05- 10’, and 1.1 for all other dates.

In [29]:
oil_series.apply(lambda x: 'Buy' if x < oil_series.quantile(0.75) else 'Wait').head(20)

date
2013-01-01     Buy
2013-01-02     Buy
2013-01-03     Buy
2013-01-04     Buy
2013-01-07     Buy
2013-01-08     Buy
2013-01-09     Buy
2013-01-10     Buy
2013-01-11     Buy
2013-01-14     Buy
2013-01-15     Buy
2013-01-16     Buy
2013-01-17    Wait
2013-01-18    Wait
2013-01-21     Buy
2013-01-22    Wait
2013-01-23     Buy
2013-01-24    Wait
2013-01-25     Buy
2013-01-28    Wait
Name: dcoilwtico, dtype: object

In [31]:
import numpy as np

In [32]:
pd.Series(
    np.where(
        oil_series.index.isin(['2016-12-23', '2017-05-10']),
        oil_series * 0.9,
        oil_series * 1.1
    )
)

0        58.509
1       102.454
2       102.267
3       102.432
4       102.520
         ...
1213     52.415
1214     51.040
1215     51.106
1216     50.556
1217     51.986
Length: 1218, dtype: float64

In [33]:
oil_series

date
2013-01-01    53.19
2013-01-02    93.14
2013-01-03    92.97
2013-01-04    93.12
2013-01-07    93.20
              ...
2017-08-25    47.65
2017-08-28    46.40
2017-08-29    46.46
2017-08-30    45.96
2017-08-31    47.26
Name: dcoilwtico, Length: 1218, dtype: float64